<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="BaseAddress" value="http://vmtest:5642/" />
    <add key="AccessToken" value="WPDf6JstAqIrb0m0jNOlNwRy68aEzV" />
    <add key="ScheduledTime" value="5" />
    <add key="Interval" value="24" />
    <add key="To" value="analaura.benitez1796@gmail.com" />
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp from="notificationslocust@gmail.com">
        <network host="smtp.gmail.com" port="587" enableSsl="true" userName="notificationslocust@gmail.com" password="P1nnacleaerospace" defaultCredentials="false" />
      </smtp>
    </mailSettings>
  </system.net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>