

@{
    Layout = null;
}
<div class="right_col" role="main">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item" ng-click="projectDetails()"><a href="" ng-click="projectDetails()">{{projectName}}</a></li>
            <li class="breadcrumb-item" ng-click="requirementDetails()"><a href="" ng-click="requirementDetails()">{{requirementName}}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{action}} Test Scenario</li>
        </ol>
    </nav>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel" id="here">
                <div class="x_title">
                    <h2>{{action}} Test Scenario<small></small></h2>
                    <div class="col-md-2 col-sm-2 col-xs-12 input-group" align="right" style="float:right">
                        <span class="input-group-btn" style="text-align:right; margin:5px">
                            <button ng-disabled="saved" ng-show="saveBtn" type="submit" form="form" class="btn btn-default" id="save" style="margin:5px"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save Test Scenario  </button>
                        </span>
                        <span class="input-group-btn" style="text-align:right; margin:5px">
                            <button type="button" class="btn btn-default" ng-click="cancel()"><i class="fa fa-ban" aria-hidden="true"></i> Cancel </button>
                        </span>

                    </div>
                    <div class="clearfix"></div>
                </div>
                @* Here start the contern *@
                <div class="x_content">
                    <div id="wizard" class="form_wizard wizard_horizontal">
                        <ul class="wizard_steps anchor">
                            <li>
                                <a ng-disabled="step1" for="form" ng-click="gogo(0)" class="{{customStatusLine[0]}}" isdone="1">
                                    <span class="step_no {{customStatus[0]}}">1</span>
                                    <span class="step_descr">
                                        TS<br>
                                        <small></small>
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a ng-disabled="step2=='true'" ng-click="gogo(1)" class="{{customStatusLine[1]}}" isdone="0">
                                    <span class="step_no {{customStatus[1]}}">2</span>
                                    <span class="step_descr">
                                        Requirements<br>
                                        <small></small>
                                    </span>
                                </a>
                            </li>
                            <li ng-disabled="step3">
                                <a ng-click="gogo(2)" class="{{customStatusLine[2]}}" isdone="0">
                                    <span class="step_no {{customStatus[2]}}">3</span>
                                    <span class="step_descr">
                                        Attachments<br>
                                        <small></small>
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a ng-disabled="step4" ng-click="gogo(3)" class="{{customStatusLine[3]}}" isdone="0">
                                    <span class="step_no {{customStatus[3]}}">4</span>
                                    <span class="step_descr">
                                        Steps<br>
                                        <small></small>
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div ng-show="isVisible[0]" class="step1" id="step1" name="first">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="x_title">
                                <h2>Information<small></small></h2>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <form ng-model="form" name="form" autocomplete="off" id="form" style="left:50%;" novalidate class="form-horizontal form-label-left" ng-submit="AddUpdate(form)">
                            <div class="col-md-12 col-sm-12 col-xs-12" style="align-content:center">
                                <div class="col-md-6 col-sm-12 col-xs-12">

                                    <div class="form-group">
                                        <label class="control-label" for="title">
                                            Title<span class="required">*</span>
                                        </label>
                                        <input auto-focus id="title" $scope="title" ng-model="title" type="text" name="title" ng-maxlength="150" required class="form-control col-md-7 col-xs-12">
                                        <div class="help-block" ng-messages="form.title.$error" ng-if="form.$submitted">
                                            <div ng-messages-include="Pages/messages.html"></div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label" for="description">
                                            Description<span class="required">*</span>
                                        </label>
                                        <div>
                                            <textarea id="description" ng-model="description" required type="text" name="description" class="form-control col-md-7 col-xs-12" />
                                            <div class="help-block" ng-messages="form.description.$error" ng-if="form.$submitted">
                                                <div ng-messages-include="Pages/messages.html"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label" for="Preconditions">
                                            Preconditions
                                        </label>
                                        <div>
                                            <textarea ng-model="preconditions" type="text" name="preconditions" id="Preconditions" class="form-control col-md-7 col-xs-12" />
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label" for="Priority">
                                            Test Priority<span class="required">*</span>
                                        </label>
                                        <div>
                                            <select name="priority" required class="form-control col-md-7 col-xs-12" id="selectedPriority" ng-model="selectedPriority"
                                                    ng-options="option as option for option in priorityOptions">
                                                <option value="">Choose option</option>
                                            </select>
                                            <div class="help-block" ng-messages="form.name.$error" ng-if="form.$submitted">
                                                <div ng-messages-include="Pages/messages.html"></div>
                                            </div>
                                        </div>
                                    </div>



                                </div>
                                <div class="col-md-6 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <label class="control-label" for="type">
                                            Test Type<span class="required">*</span>
                                        </label>
                                        <div>
                                            <select name="type" required class="form-control col-md-7 col-xs-12" id="selectedType" $scope="selectedType" ng-model="selectedType"
                                                    ng-options="option as option for option in typesOfTest">
                                                <option value="">Choose option</option>
                                            </select>
                                            <div class="help-block" ng-messages="form.type.$error" ng-if="form.$submitted">
                                                <div ng-messages-include="Pages/messages.html"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label" for="Note">
                                            Note
                                        </label>
                                        <div>
                                            <textarea ng-model="note" type="text" name="note" id="Note" class="form-control col-md-7 col-xs-12" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label" for="Expected">
                                            Tags<span class="required">*</span>
                                        </label>
                                        <div>
                                            <tags-input id="tags" $scope="tags" ng-model="tags"
                                                        add-on-enter="true"
                                                        min-length="0"
                                                        display-property="name"
                                                        key-property="name"
                                                        ng-maxlength="150"
                                                        max-length="45"
                                                        on-tag-added="onTagAdded($tag)"
                                                        on-tag-removing="onTagRemoved($tag)"
                                                        class="tagsinput">
                                            </tags-input>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </form>
                    </div>
                    <div ng-show="isVisible[1]" class="step2" id="step2" name="first">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="x_title">
                                <h2>Requirements<small></small></h2>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div>
                            <div class="col-md-12 col-sm-12 col-xs-12 ">
                                <div class="form-group row">

                                    <div class="col-md-1 col-sm-4 col-xs-4 selectCustom">
                                        <select name="priority" required class="form-control" ng-model="RowsSelected" ng-change="changeValue(RowsSelected)"
                                                ng-options="option as option for option in Options"></select>
                                    </div>

                                    <div class="col-md-3 col-sm-8 col-xs-8">
                                        <div class="input-group">
                                            <input auto-focus ng-model="filterREQ" type="text" class="form-control" id="filter" autocomplete="off" placeholder="Search">
                                            <span class="input-group-btn">
                                                <button class="btn btn-default filterButton" type="button"><i class="fa fa-search"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-md-8 col-sm-12 col-xs-12" align="right">
                                        <div class="col-md-8 col-sm-12 col-xs-12 input-group">

                                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" style="width:600px;overflow-x: hidden;">
                                                Select Requirement <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1" style="height:200px; overflow-y:auto; overflow-x:hidden; width:600px;margin-left:38px;" id="ulDropdown">
                                                <li role="presentation">
                                                    <div class="input-group input-group-sm search-control">
                                                        <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                                                        <input type="text" class="form-control" placeholder="Enter text..." ng-model="query">
                                                    </div>
                                                </li>
                                                <li role="presentation" ng-repeat='item in requirements | filter:query'>
                                                    <a style="font-size:14px; border:1px solid #ddd;" ng-click="selectReq(item)">{{item.Axosoft_Task_Id}} - {{item.Name}}</a>
                                                </li>
                                            </ul>
                                            <button class="btn btn-default" type="button" data-placement="top" data-toggle="tooltip" ng-click="addReq()" data-original-title="Forward" aria-describedby="tooltip802045"><i class="fa fa-plus"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <table style="overflow:hidden" class="table table-striped table-bordered dataTable no-footer dtr-inline" role="grid" aria-describedby="datatable-buttons_info">
                                <thead>
                                    <tr role="row">
                                        <th class="sorting_asc" tabindex="0" aria-controls="datatable-buttons" rowspan="1" colspan="1" style="width: 218px;" aria-sort="ascending" aria-label="Name: activate to sort column descending">Axosoft ID</th>
                                        <th class="sorting_asc" tabindex="0" aria-controls="datatable-buttons" rowspan="1" colspan="1" style="width: 218px;" aria-sort="ascending" aria-label="Name: activate to sort column descending">Number</th>
                                        <th class="sorting_asc" tabindex="0" aria-controls="datatable-buttons" rowspan="1" colspan="1" style="width: 218px;" aria-sort="ascending" aria-label="Name: activate to sort column descending">Requirement</th>
                                        <th class="sorting" tabindex="0" aria-controls="datatable-buttons" rowspan="1" colspan="1" style="width: 167px;" aria-label="Developer Assigned: activate to sort column ascending">Developer Assigned</th>
                                        <th class="sorting" tabindex="0" aria-controls="datatable-buttons" rowspan="1" colspan="1" style="width: 92px;" aria-label="Tester Assigned: activate to sort column ascending">Tester Assigned</th>
                                        <th class="sorting" tabindex="0" aria-controls="datatable-buttons" rowspan="1" colspan="1" style="width: 92px;" aria-label="Actions: activate to sort column ascending">Actions</th>
                                </thead>
                                <tbody style="overflow:hidden">

                                    <tr role="row" class="odd" href="" dir-paginate="requirement in filteredArray = (requirementsAssigned | REQFilter:filterREQ) | itemsPerPage: pageSize" current-page="currentPageREQ" pagination-id="paginationREQ" ng-if="requirement.flag != 'Removed'">
                                        <td tabindex="0" class="sorting_1">{{requirement.Axosoft_Task_Id}}</td>
                                        <td tabindex="0" class="sorting_1">{{requirement.req_number}}</td>
                                        <td tabindex="0" style="overflow:hidden;" class="sorting_1">{{requirement.Name}}</td>
                                        <td style="overflow:hidden">{{requirement.Developer_Assigned}}</td>
                                        <td style="overflow:hidden">{{requirement.Tester_Assigned}}</td>
                                        <td>
                                            <div class="btn-group">
                                                <button data-toggle="modal" data-target="#modalRequirementForm" class="btn btn-sm btn-default" type="button" data-placement="top" data-original-title="Trash" ng-click="deleteReq(requirement)"><i class="fa fa-trash-o"></i></button>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr ng-if="filteredArray.length===0">
                                        <td colspan="6">@Resource.NoDataFound</td>
                                    </tr>
                                </tbody>
                            </table>
                            <script>
                                $("#stepsTable tbody").sortable({
                                    update: function (event, ui) {
                                        $(this).children().each(function (index) {
                                            $(this).find('td').first().html(index + 1);
                                        });
                                    }
                                });
                            </script>
                            <div class="dataTables_info col-md-12 col-sm-12 col-xs-12" id="datatable-buttons_info" role="status" aria-live="polite" style="text-align:right; width:100%" align="right">
                                {{(steps | filter: {flag : '!Removed'}).length}} entries
                            </div>
                        </div>
                        <div class="x_content" style="text-align:right" align="right">
                            <div class="col-md-12 col-sm-12 col-xs-12 input-group" style="text-align:right">

                            </div>
                        </div>
                    </div>
                    <div ng-show="isVisible[2]" class="step1" id="step1" name="first">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="x_title">
                                <h2>Attachments<small></small></h2>
                                <div class="clearfix">
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="col-md-5 col-sm-5 col-xs-12" style="display:inline-block;">
                                    <div class="form-group">
                                        <label style="margin-right:10px;" class="control-label col-md-2 col-sm-2 col-xs-6" for="File">
                                            Choose Attachments
                                        </label>
                                        <input type="file" ng-model="attachment" name="image" class="btn btn-default" id="File"
                                               data-role="magic-overlay"
                                               onchange="" multiple />
                                        <script>
                                            $('#File').change(function (event) {
                                                angular.element(this).scope().onfileSelected(event);
                                            });


                                        </script>
                                    </div>
                                    <div class="btn-group">
                                        <button class="btn btn-default" ng-click="RemoveAllAttachments()"><i class=" fa fa-remove"></i> Remove All Attachments</button>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="attachmentList media block-update-card" ng-repeat="files in FilestoDisplay" ng-if="files.flag!='Removed'">
                                            <div class="pull-left" href="" ng-if="files.flag!='Removed'">
                                                <div ng-show="files.Path!=''">
                                                    <img ng-if="files.show==true" style="height:90px;" class="media-object update-card-MDimentions" ng-src="~/{{files.Path}}">
                                                    <img ng-if="files.show==false" style="height:90px;" class="media-object update-card-MDimentions" ng-src="~/Content/img/NotAvailable.png">
                                                </div>

                                                <div ng-show="files.Path==''">
                                                    <img style="height:90px;" class="media-object update-card-MDimentions" ng-src="~/Content/img/NotAvailable.png">
                                                </div>

                                            </div>
                                            <div ng-if="files.flag!='Removed'" class="media-body update-card-body">
                                                <h4 style="margin-top:5px; margin-left: 5px;" class="media-heading">Name: <b>{{files.Name}}</b></h4>
                                                <h4 style="margin-top:5px; margin-left: 5px; width:100%; overflow:hidden; text-overflow:ellipsis" class="media-heading">Size: <b>{{files.Size}} MB</b></h4>
                                                <h4 style="margin-top:5px; margin-left: 5px;" class="media-heading">Type: <b>{{files.Extention}}</b></h4>
                                                <span style="float:right">
                                                    <i ng-if="files.flag=='Original'" style="float:left; margin-right:5px; cursor:pointer;" class="fa fa-2x fa-download" ng-click="DownloadFile(files.Id)"></i>
                                                    <i ng-if="files.flag!='Removed'" class="fa fa-2x fa-trash" style="float:right; cursor:pointer; margin-right:5px;" ng-click="RemoveFile(files.Id)"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="help-block" style="float:left; display:none" id="NameWarning">
                                    <div>Warning: Attachments with the same name will be overwritten</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-show="isVisible[3]" class="step3" id="step3" name="first">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="x_title">
                                <h2>Steps<small></small></h2>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="col-md-4 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label class="control-label" for="Expected" style="margin-bottom:15px; margin-top:10px;">
                                        Step Description<span class="required">*</span>
                                    </label>
                                    <div align="right">
                                        <textarea id="stepDescription" ng-model="stepDescription" $scope="stepDescription" class="resizable_textarea form-control" placeholder="Step..."></textarea>
                                        <br />
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" id="btnExpectedResult" type="button" style="float:right" ng-click="addStep(isExpectedResult=true)"><i class="fa fa-plus"></i> Add Expected Result</button>
                                            <button class="btn btn-default" style="display: none;  float:right" type="button" ng-click="editSteps(isExpectedResult=true)" id="btnEditExpected"><i class="fa fa-pencil"></i> Edit Expected</button>
                                            <button class="btn btn-default" id="addStep" type="button" style="float:right" ng-click="addStep(isExpectedResult=false)"><i class="fa fa-plus"></i> Add Step</button>
                                            <button class="btn btn-default" style="display: none;  float:right" type="button" ng-click="editSteps(isExpectedResult=false)" id="editStep"><i class="fa fa-pencil"></i> Edit Step</button>
                                            <button class="btn btn-default" type="button" data-toggle="modal" data-target="#modalSuplementalForm" id="addStep" ng-click="GetSuplementals()"><i class="fa fa-plus"></i> Add STP</button>
                                        </span>

                                    </div>
                                </div>


                                <script>
                                    $("#editClick").click(function () {
                                        $("#addStep").hide();
                                        $("#editStep").show();
                                    });

                                    $("#editStep").click(function () {
                                        //$("#stepsTable").sortable('enables');
                                        $("#addStep").show();
                                        $("#editStep").hide();
                                    });
                                </script>
                                <script>
                                    $('#tags_1_tagsinput').tagsInput({
                                        maxChars: 45
                                    });
                                    $("#click").keydown(function (e) {
                                        if (e.which === 13) { // Don't submit the form
                                            angular.element('#click').scope().AddTag();
                                        }
                                    });
                                </script>
                            </div>





                            <div class="col-md-8 col-sm-12 col-xs-12">

                                <div class="col-md-4 col-xs-12" style="margin-bottom: 5px; float:right; padding-right:0px;">
                                    <span style="float:right;">
                                        <button ng-disabled="saved" ng-show="saveBtn" class="btn btn-default" id="DownloadSteps" style="margin-right:5px;" type="button" ng-click="download()"><i class="fa fa-download"></i> Download</button>
                                        <button ng-disabled="saved" ng-show="saveBtn" class="btn btn-default" style="margin-right:0px;" type="button" data-toggle="modal" data-target="#ConfirmationSteps"><i class="fa fa-remove"></i> Remove All Steps</button>
                                    </span>
                                </div>
                                <div id="table" ng-model="refresh">

                                    <table class="table table-striped fixed_headers" role="grid" aria-describedby="datatable-buttons_info" id="stepsTable" ng-model="table" ng-table="tableParams">
                                        <thead>
                                            <tr role="row">
                                                <th class="sorting" tabindex="0" aria-controls="datatable-buttons" rowspan="1" colspan="1" aria-label="Number: activate to sort column ascending">#</th>
                                                <th class="sorting" tabindex="0" aria-controls="datatable-buttons" rowspan="1" colspan="1" aria-label="Action: activate to sort column ascending">Description</th>
                                                <th class="sorting" tabindex="0" aria-controls="datatable-buttons" rowspan="1" colspan="1" aria-label="Actions: activate to sort column ascending">Actions</th>
                                        </thead>
                                        <tbody id="table-body" ng-model="update">
                                            <tr role="row" id="data" class="odd ui-sortable-handle" ng-repeat="step in steps | orderObjectBy:'number_steps'" ng-if="step.flag != 'Removed'">
                                                <td tabindex="0" class="sorting_1">{{step.number_steps}}</td>
                                                <td tabindex="1" hidden>{{step.Id}}</td>
                                                <td style="text-align:justify;">
                                                    <div style="max-height:230px; overflow:auto">
                                                        <div ng-if="step.type == 'Expected Result'"><strong>Expected Result:</strong></div><p class="message">{{step.action}}</p>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="btn-group">
                                                        <button id="editClick" class="btn btn-sm btn-default" type="button" data-placement="top" data-toggle="tooltip" data-original-title="Print" ng-click="updateStep(step.number_steps, step)"><i class="fa fa-pencil"></i></button>
                                                        <button class="btn btn-sm btn-default" type="button" data-placement="top" data-toggle="tooltip" data-original-title="Trash" ng-click="removeStep(step)"><i class="fa fa-trash-o"></i></button>
                                                        <button ng-disabled="step.action.indexOf('STP_')==-1" id="linkClick" class="btn btn-sm btn-default" type="button" data-placement="top" data-toggle="tooltip" data-original-title="Print" ng-click="goStp(step)"><i class="fa fa-external-link"></i></button>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <script>
                                        $("#stepsTable tbody").sortable({
                                            update: function (event, ui) {
                                                $(this).children().each(function (index) {
                                                    $(this).find('td').first().html(index + 1);

                                                });
                                            }
                                        });
                                    </script>
                                    <div class="dataTables_info col-md-12 col-sm-12 col-xs-12" id="datatable-buttons_info" role="status" aria-live="polite" style="text-align:right; width:100%" align="right">
                                        {{(steps | filter: {flag : '!Removed'}).length}} entries
                                    </div>
                                </div>
                            </div>
                            
                        </div>

                    </div>


                </div>
            </div>
        </div>
        <div class="modal fade" id="modalSuplementalForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" style="width:70%" role="document">
                <div class="modal-content">
                    <div class="modal-header text-center">
                        <h4 class="modal-title w-100 font-weight-bold">STP Selector</h4>
                    </div>


                    <div class="modal-body" style="height:800px; width:100%; overflow-y:auto">


                        <div class="col-md-12 col-xs-12">
                            <div class="col-md-6 col-xs-6">
                                <input auto-focus ng-model="filter" type="text" class="form-control" id="filter" placeholder="Search by STP number, title or creator">
                                <textarea style="margin-bottom:20px;margin-top:20px;" placeholder="STP Description" ng-model="supDescription" class="form-control col-md-12 col-xs-12" name="title" ng-maxlength="1000" rows="10"></textarea>
                            </div>
                            <div class="col-md-6 col-xs-6">


                            </div>
                            <div class="col-md-6 col-xs-6" style="height:50px">
                                <label class="col-md-12 col-xs-12" style="height:50px">STP SELECTED: {{selectedSuplemental.stp_number}}</label>
                            </div>
                        </div>

                        <div ng-repeat="suplemental in filteredArray = (suplementals | STPFilter : filter )">


                            <div class="col-md-12 col-sm-12 col-xs-12">

                                <div class="form-group">
                                    <input style="text-align:left;" type="radio" name="radius" ng-model="selectedSuplemental" ng-value="{{suplemental.Test_Suplemental_Id}}" ng-click="suplementalChange(suplemental)">
                                    <label style="text-align:left;">STP Number:</label>
                                    <label style="text-align:left; color:black;"> {{suplemental.stp_number}}</label>

                                    <label style="text-align:left;">Title:</label>
                                    <label style="text-align:left; color:black;"> {{suplemental.Title}}</label>


                                    <label style="text-align:left;">Creator:</label>
                                    <label style="text-align:left; color:black;"> {{suplemental.Test_Procedure_Creator}}</label>
                                </div>
                                <div class="form-group">
                                    <label style="text-align:left;">Description:</label>
                                    <p style="white-space: pre;">{{suplemental.Description}}</p>
                                </div>
                            </div>


                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <table class="table table-striped table-bordered dataTable no-footer dtr-inline" role="grid" aria-describedby="datatable-buttons_info" id="stepsTable" ng-model="table">
                                    <thead>
                                        <tr role="row">
                                            <th class="sorting" tabindex="0" aria-controls="datatable-buttons" rowspan="1" colspan="1" style="width: 92px;" aria-label="Action: activate to sort column ascending">Step Number</th>
                                            <th class="sorting" tabindex="0" aria-controls="datatable-buttons" rowspan="1" colspan="1" style="width: 92px;" aria-label="Action: activate to sort column ascending">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="step in  suplemental.Steps | orderBy:'number_steps'">
                                            <td class="col-xs-2">{{step.number_steps}}</td>
                                            <td class="col-xs-10 ">
                                                <div style="max-height:230px; overflow:auto">
                                                    <p class="message">{{step.action}}</p>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-8 container" style="height:20px; width:100%; border:1px; margin-top: 5px; margin-bottom: 30px">
                                <span class="tagspan" ng-repeat="tag in  suplemental.Tags" style="border:1px">
                                    {{tag.name}}
                                </span>
                            </div>
                            <hr>

                        </div>

                    </div>
                    <div class="modal-footer d-flex justify-content-center">
                        <button type="button" ng-disabled="saved" class="btn btn-danger" ng-click="selectSTP()" data-dismiss="modal">Select</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" aria-label="Close">
                            Cancel
                        </button>
                    </div>
                </div>
            </div>
        </div>


        <div class="modal fade" id="modalSuplementalForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header text-center">
                        <h4 class="modal-title w-100 font-weight-bold">STP Selector</h4>
                    </div>
                    <div style="height:80px" class="col-md-12 col-xs-12">
                        <div style="height:80px" class="col-md-6 col-xs-6">
                            <input ng-model="supDescription"
                                   type="text" name="title" ng-maxlength="150" maxlength="150" required
                                   class="form-control col-md-6 col-xs-6"
                                   style="border-top:none; border-left:0; border-right:0"
                                   placeholder="STP Description">
                        </div>
                        <div class="col-md-6 col-xs-6" style="height:50px">
                            <label class="col-md-6 col-xs-6" style="height:50px">{{selectedSuplemental.stp_number}}</label>
                        </div>
                    </div>

                    <div class="modal-body" style="height:600px; width:100%; overflow-y:auto">

                        <div ng-repeat="suplemental in suplementals" style="height:290px; overflow-y: auto">

                            <div class="form-group">
                                <input class="col-md-1 col-sm-1 col-xs-12" style="align-content:center; text-align:center" type="radio" name="radius" ng-model="selectedSuplemental" ng-value="{{suplemental.Test_Suplemental_Id}}" ng-click="suplementalChange(suplemental)">
                                <label class="col-md-5 col-sm-5 col-xs-12" style="align-content:center; text-align:right">STP Number</label>
                                <label class="col-md-6 col-sm-6 col-xs-12" style="align-content:center; text-align:left; color:black"> {{suplemental.stp_number}}</label>
                            </div>

                            <div class="form-group">
                                <label class="col-md-6 col-sm-6 col-xs-6" style="align-content:center; text-align:right">Title</label>
                                <label class="col-md-6 col-sm-6 col-xs-6" style="align-content:center; text-align:left; color:black"> {{suplemental.Title}}</label>
                            </div>
                            <label class="col-md-2 col-sm-2 col-xs-2" style="align-content:center; text-align:right">Description:</label>
                            <p style="color:black">{{suplemental.Description}}</p>

                            <div class="col-md-12 col-sm-12 col-xs-12" style="height:110px; overflow-y:auto">
                                <table class="table table-striped table-bordered dataTable no-footer dtr-inline" role="grid" aria-describedby="datatable-buttons_info" id="stepsTable" ng-model="table">
                                    <thead>
                                        <tr role="row">
                                            <th class="sorting" tabindex="0" aria-controls="datatable-buttons" rowspan="1" colspan="1" aria-label="Action: activate to sort column ascending">Step Number</th>
                                            <th class="sorting" tabindex="0" aria-controls="datatable-buttons" rowspan="1" colspan="1" aria-label="Action: activate to sort column ascending">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="step in  stepsSuplementals | orderBy:'number_steps'" ng-if="step.Test_Suplemental_Id == suplemental.Test_Suplemental_Id">
                                            <td class="col-xs-6">{{step.number_steps}}</td>
                                            <td class="col-xs-6">
                                                <div style="max-height:230px; overflow:auto">
                                                    <p class="message">{{step.action}}</p>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-8 container" style="height:20px; width:100%; border:1px; margin-top: 10px">
                                <span class="tagspan" ng-repeat="tag in  tagsSupList | orderBy:'tagAction'" ng-if="tag.Test_Suplemental_Id == suplemental.Test_Suplemental_Id" style="border:1px">
                                    {{tag.tagAction}}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer d-flex justify-content-center">
                        <button type="button" class="btn btn-success" ng-click="selectSTP()" data-dismiss="modal">Select</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" aria-label="Close">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ConfirmationSteps" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Remove All Steps</h3>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to remove all steps from the Step table?</p>
                <div class="help-block">
                    <p class="danger">This action can't be undone</p>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" ng-click="RemoveAllSteps()" data-dismiss="modal">Confirm</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/AdjustUIWizard")